---
layout: default
---

<div class="home">

    <!-- News Grid Section 
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" style="margin-bottom: 10px">
                    <h2>Aktualności</h2>
                    <hr class="star-primary">
                </div>
            </div>

            <div class="row">
                {% for post in site.posts %}
                  <div class="col-sm-4 portfolio-item">
                    <a href="{{ post.url | prepend: site.baseurl }}" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <p>{{post.title}}</p>
                    </a>
                </div>
                {% endfor %}      
            </div>
        </div>
    </section>
    -->
    
    <!-- Events Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" style="margin-bottom: 10px">
                    <h2>Wydarzenia</h2>
                    <hr class="star-primary">
                    <h5>kliknij na wydarzenie aby zobaczyć szczegóły</h5>
                </div>
            </div>

            <div class="row">
                {% for event in site.events %}
                  <div class="col-sm-4 portfolio-item">
                    <a href="{{ event.url | prepend: site.baseurl }}" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src={{site.baseUrl}}/{{ event.image }} class="img-responsive" alt="{{event.title}}">
                    </a>
                </div>
                {% endfor %}      
            </div>
        </div>
    </section>
</div>