---
layout: default
---

<div class="home">

    <!-- News Grid Section 
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" style="margin-bottom: 10px">
                    <h2>Aktualności</h2>
                    <hr class="star-primary">
                </div>
            </div>

            <div class="row">
                {% for post in site.posts %}
                  <div class="col-sm-4 portfolio-item">
                    <a href="{{ post.url | prepend: site.baseurl }}" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <p>{{post.title}}</p>
                    </a>
                </div>
                {% endfor %}      
            </div>
        </div>
    </section>
    -->
    
    <!-- Workshops Grid Section i cos -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" style="margin-bottom: 10px">
                    <h2>Warsztaty</h2>
                    <hr class="star-primary">
                    <h5>kliknij na wybrane warsztaty aby zobaczyć szczegóły</h5>
                </div>
            </div>

            <div class="row">
                {% for workshop in site.workshops %}
                  <div class="col-sm-4 portfolio-item">
                    <a href="{{ workshop.url | prepend: site.baseurl }}" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src={{site.baseUrl}}/{{ workshop.image }} class="img-responsive" alt="{{workshop.title}}">
                    </a>
                </div>
                {% endfor %}      
            </div>
        </div>
    </section>
    
    <!-- Events Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" style="margin-bottom: 10px">
                    <h2>Wydarzenia</h2>
                    <hr class="star-primary">
                    <h5>kliknij na wydarzenie aby zobaczyć szczegóły</h5>
                </div>
            </div>

            <div class="row">
                {% for event in site.events %}
                  <div class="col-sm-4 portfolio-item">
                    <a href="{{ event.url | prepend: site.baseurl }}" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src={{site.baseUrl}}/{{ event.image }} class="img-responsive" alt="{{event.title}}">
                    </a>
                </div>
                {% endfor %}      
            </div>
        </div>
    </section>
    

    <!-- Newsletter Grid Section
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" style="margin-bottom: 10px">
                    <h2>Newsletter</h2>
                    <hr class="star-primary">
                    <h5>Zapisz się do newslettera aby być na bieżąco! Poinformujemy Ciebie o wydarzeniach, warsztatach oraz ciekawostkach z życia Makerspace Lublin.</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center" style="margin-bottom: 10px"> 
                    <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
                    <style type="text/css">
                    	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                    	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                    	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                    </style>
                    <div id="mc_embed_signup">
                    <form action="//makerspace-lbn.us10.list-manage.com/subscribe/post?u=db8a46ed981cd5f2091d4512c&amp;id=b6b7e3e63a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">

                    <div class="mc-field-group">
                    	<label for="mce-EMAIL">Adres email:</label>
                    	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                    </div>
                    	<div id="mce-responses" class="clear">
                    		<div class="response" id="mce-error-response" style="display:none"></div>
                    		<div class="response" id="mce-success-response" style="display:none"></div>
                    	</div>
                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_db8a46ed981cd5f2091d4512c_b6b7e3e63a" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </div>
                    </form>
                    </div>
                    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                   
                </div>
            </div>
        </div>
    </section>
    -->
</div>

