<!-- Footer -->
<footer class="text-center" id="kontakt">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                <!-- empty -->
                </div>
                <div class="footer-col col-md-4">
                    <h3>Kontakt</h3>
                    <img src="{{site.baseUrl}}/img/mcontact.png" class="img-responsive img-centered" alt="Kontakt"/>
                    
                    <p>Siedziba fundacji: <br> ul. Stanisława Leszczyńskiego 23 <br> 20-068 Lublin</p>
                    <p>Makerspace Lublin: <br> ul. Żmigród 10/3 <br> 20-110 Lublin</p>
                    <a href="https://www.facebook.com/makerslublin" class="btn-social btn-outline"><i class="fa fa-1 fa-facebook"></i></a>
                </div>
                <div class="footer-col col-md-4">
                <!--
                    <h3>O nas</h3>
                    <p>Makerspace Lublin jest fundacją, której celem jest stworzenie oraz rozwój w Lublinie miejsca swobodnej twórczości.</p>
                -->
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Makerspace Lublin 2014-2015
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visble-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- jQuery Version 1.11.0 -->
<script src="{{site.baseUrl}}/js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{site.baseUrl}}/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="{{site.baseUrl}}/js/classie.js"></script>
<script src="{{site.baseUrl}}/js/cbpAnimatedHeader.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{site.baseUrl}}/js/freelancer.js"></script>