<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="{{site.baseUrl}}/img/maker-logo-small.png" style="display: inline; float: left; margin-right: 10px;" alt="MakerSpace Logo"/><a class="navbar-brand" href="#page-top">Makerspace Lublin</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="{{site.baseUrl}}/index.html#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="http://eepurl.com/bhCl-n">Newsletter</a>
                </li>
                <li class="page-scroll">
                    <a href="{{site.baseUrl}}/index.html#about">Fundacja</a>
                </li>
                <li class="page-scroll">
                    <a href="{{site.baseUrl}}/index.html#branches">Grupy</a>
                </li>
                <li class="page-scroll">
                    <a href="{{site.baseUrl}}/index.html#map">Lokalizacja</a>
                </li>
                <li class="page-scroll">
                    <a href="{{site.baseUrl}}/index.html#kontakt">Kontakt</a>
                </li>
                <li class="page-scroll">
                    <a href="http://goo.gl/bY0SPM" target="_blank">Kalendarz</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="row">
    <div>
      <div class="col-lg-12" >
          <!--<img style="float:left; margin-top:200px; display:block;" class="img-responsive" src="img/hackerspace_200.png" alt="">-->
          <img style="display:block;" class="img-responsive" src="{{site.baseUrl}}/img/maker.png" alt="">
          <!-- <img style="float:left; margin-top:200px; display:block;" class="img-responsive" src="img/fablab_200.png" alt=""> -->
        <div class="intro-text" style="display: block; clear: both;">
          <!-- <span class="name">Makerspace</span> -->
          <hr class="star-light">
          <span class="skills">przestrzeń lubelskich twórców</span>
        </div>
      </div>
    </div>
        </div>
    </div>
</header>