<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="page-top" class="index">

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <!-- Events Grid Section -->

    <!-- -->

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Fundacja</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p style="background-color: rgba(0,0,0,0.7); padding: 10px;">Makerspace Lublin jest fundacją, której celem jest stworzenie oraz rozwój w Lublinie miejsca potrzebnego do działania społecznościom twórczym takim jak: Hackerspace Lublin, FabLab Lublin i innym.</p>
                </div>
                <div class="col-lg-4">
                    <p style="background-color: rgba(0,0,0,0.7); padding: 10px;">Jako Fundacja organizujemy również cykliczne spotkania, warsztaty i kursy w tematyce związanej z promocją: programowania, budowy drukarek 3D, używania wolnego i otwartego oprogramowania i inne.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="files/StatutMakerspaceLublin.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> pobierz statut fundacji
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Branches Section -->
    <section id="branches">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" style="margin-bottom: 15px">
                    <h2>PIONY</h2>
                    <hr class="star-primary">
                    <h5>nasza fundacja koordynuuje działania organizacji:</h5>
                </div>
            </div>

            <div class="row row-centered">

                <div class="col-lg-4 col-md-4 col-centered">
                    <a href="http://fablabl.pl" class="branchlink">
                        <p>
                            <img src="img/fablab_200.png" class="img-responsive img-centered" alt="FabLab Logo"/>
                            http://fablabl.pl
                        </p>
                    </a>
                    <ul class="list-inline col-md-8 branch-desc text-center">
                        <li>
                            <a href="https://www.facebook.com/fablablublin" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/109554784388576594307/posts" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/FabLABLublin" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-centered">
                    <a href="http://hackerspace-lbn.pl" class="branchlink">
                        <p>
                            <img src="img/hackerspace_200.png" class="img-responsive img-centered" alt=""/>
                            http://hackerspace-lbn.pl
                        </p>
                    </a>
                    <ul class="list-inline col-md-8 branch-desc text-center">
                        <li>
                            <a href="https://www.facebook.com/hackerspacelbn" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/b/113985756060443022052/+Hackerspace-lbnPl/posts" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/HackerspaceLBN" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>



    {% include footer.html %}

  </body>

</html>
